.top-bar{
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $logo-color;
  margin: 0;
  align-items: center;

  .top-bar-amount{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0px;
  }

  .top-bar-alerts{
    margin-bottom: 0px;
  }

  .top-bar-login{
    margin-bottom: 0px;
  }

  .top-bar-logout{
    margin-bottom: 0px;
  }
  p{
    margin-left: 5px;
    padding: 15px 15px;
    border-left: solid 1px $border-color;
    font-size: 20px;
    font-family: $font;
    font-weight: medium;
    color: $subtitle-color;

    i{
      font-size: 18px;
      padding: 0 15px;
      color: $subtitle-color;
      font-weight: medium;
    }

    .click:hover{
      cursor: pointer;
    }
  }

  .top-bar-login{
    color: $user-name-color;
    display: inline-flex;

    i{
      align-self: center;
    }
  }

  .top-bar-login:hover{
    cursor: pointer;
  }
}
